<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
      .header {
        background: #8a8a8a;
      }
      .header .columns {
        padding-bottom: 0;
      }
      .header p {
        color: #fff;
        padding-top: 15px;
      }
      .header .wrapper-inner {
        padding: 20px;
      }
      .header .container {
        background: transparent;
      }
      table.button.facebook table td {
        background: #3B5998 !important;
        border-color: #3B5998;
      }
      table.button.twitter table td {
        background: #1daced !important;
        border-color: #1daced;
      }
      table.button.google table td {
        background: #DB4A39 !important;
        border-color: #DB4A39;
      }
      .wrapper.secondary {
        background: #f3f3f3;
      }
    </style>
  </head>

  <body>


    <wrapper class="header">
      <container>
        <row class="collapse">
          <columns small="6">
            <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQSq3mq8eleVxnnlxGAdd-4m_tncVowX_Qoe0EnXjjrNrHVQj_D">
          </columns>
          <columns small="6">
            <p class="text-right">BASIC</p>
          </columns>
        </row>
      </container>
    </wrapper>

    <container>

      <spacer size="16"></spacer>
      
      <row>
        <columns small="12">
          
          <h1>Hi, WDI Conf attendee,</h1>
          <p class="lead">Attached to this email is/are your ticket/s for the conference!</p>
          <p>STAAR Productions has a long and storied history of wildly successful confrences, and WDI Conf 2016 is our biggest one yet. We've got a comprehensive list of prominent speakers for our event. So come and listen to some of the biggest names in the tech industry give fascinating talks. We've got Zuckerberg, Scorpio, Parker, and the king of the development world himself, Professor Rui Xu.</p>
          <callout class="primary">
            <p>This product is meant for educational purposes only. Any resemblance to real persons, living or dead is purely coincidental. Void where prohibited.  Disclaimer does not cover misuse, accident, lightning, flood, tornado, tsunami, volcanic eruption, earthquake, hurricanes and other Acts of God, neglect, damage from improper reading, incorrect line voltage, improper or unauthorized reading, broken antenna or marred cabinet, missing or altered serial numbers, electromagnetic radiation from nuclear blasts, sonic boom vibrations, customer adjustments that are not covered in this list, and incidents owing to an airplane crash, ship sinking or taking on water, motor vehicle crashing, dropping the item, falling rocks, leaky roof, broken glass, mud slides, forest fire, or projectile (which can include, but not be limited to, arrows, bullets, shot, BBs, shrapnel, lasers, napalm, torpedoes, or emissions of X-rays, Alpha, Beta and Gamma rays, knives, stones, etc.). 
            Other restrictions may apply.
            This supersedes all previous notices.
            It is understood that you have read and agreed with the terms stated in this disclaimer and can now go back to the world of today.</p>
          </callout>
        </columns>
      </row>
      <wrapper class="secondary">

        <spacer size="16"></spacer>

        <row>
          <columns large="6">
            <h5>Connect With Us:</h5>
            <button class="facebook expand" href="http://zurb.com">Facebook</button>
            <button class="twitter expand" href="http://zurb.com">Twitter</button>
            <button class="google expand" href="http://zurb.com">Google+</button>
          </columns>
          <columns large="6">
            <h5>Contact Info:</h5>
            <p>Phone: 1800-WDI-CONF</p>
            <p class="grey-text text-lighten-4 center-align footer-text"><a class="grey-text text-lighten-3" href="mailto:s.west.sooby@gmail.com?Subject=WDI%20Conf" target="_top">Email Us</a></p>
          </columns>
        </row>
      </wrapper>
    </container>
    <%= yield %>
  </body>
</html>
